[submodule "reflex-platform"]
	path = reflex-platform
	url = https://github.com/reflex-frp/reflex-platform
[submodule "reflex-todo-undo-mvc-model"]
	path = reflex-todo-undo-mvc-model
	url = git@github.com:pdlla/reflex-todo-undo-mvc-model.git
[submodule "potato_flow"]
	path = potato_flow
	url = git@github.com:pdlla/potato_flow.git
[submodule "reflex-basic-host"]
	path = reflex-basic-host
	url = git@github.com:pdlla/reflex-basic-host.git
