[submodule "reflex-platform"]
	path = reflex-platform
	url = https://github.com/reflex-frp/reflex-platform
[submodule "reflex-todo-undo-mvc-model"]
	path = reflex-todo-undo-mvc-model
	url = git@github.com:pdlla/reflex-todo-undo-mvc-model.git
[submodule "reflex-potatoes"]
	path = reflex-potatoes
	url = https://github.com/pdlla/reflex-potatoes
[submodule "reflex-test-host"]
	path = reflex-test-host
	url = git@github.com:pdlla/reflex-test-host.git
[submodule "reflex-dynamic-containers"]
	path = reflex-dynamic-containers
	url = git@github.com:pdlla/reflex-dynamic-containers.git
